.card-container {
    font-size: .875rem;
    color: black;
    width: 230px;
    height: 200px;
    padding: 15px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 3px;
    transition: .3s;
    background-color: lightblue;
    box-shadow:0 3px 15px rgba(34, 33, 33, .8);
}

.card-container:hover {
    transform: translateY(-15px);
    box-shadow:0 7px 20px rgba(34, 33, 33, .8);
}